body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  border-left: 5px solid;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  flex: 1;
  transition: transform 0.5s ease;
  margin: 15px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
